@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --fonte1: verdana, geneva, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

html, body {
    min-height: 100%;
    background-color: rgb(105, 116, 112);
    font-family: var(--fonte1);
}


header {
    background-color: black;
    color: white;
    text-align: center;


}
header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 10vw;
    font-weight: normal;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
a:hover {
    text-decoration: underline;
}

section > p {
    padding: 20px;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px ;  
    font-family: var(--fonte3);  
    font-size: 4vw;

}

section.normal {
    background-color: white;
    color: black;
}

section.img {
    background-color: rgba(0, 0, 0, 0.507);
    color: white;

}

section.img > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 20px;
}



footer > p {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}