@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fonte/idroid.otf)format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Bebas;
    src: url(fonte/BebasNeue-Regular.ttf) format('truetype');
    font-weight: normal;
}

:root{
        --color0 :#F2F2F2;
        --color1 :#B7D9A7;
        --color2 :#70BF4B;
        --color3 :#55903a;
        --color4 :#396027;
        --color5 :#101c0b;

        --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
        --fonte-destaque:'Bebas', cursive;
        --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--color0);
    margin: auto;

}

header {
    background-image: linear-gradient(to top,var(--color4),var(--color1));
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: var(--color0);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}

header > p {
    color: var(--color0);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    max-width: 500px;
    margin: auto;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.46);
}

nav {
    background-color: var(--color4);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.481);
    font-size: smaller;

}
nav > a {
    color: var(--color1);
    font-family: var(--fonte-padrao);
    text-decoration: none;
    padding: 10px;

}
nav > a:hover{
    background-color: var(--color5);
    border-radius: 5px;
    transition-duration: 0.5s;

}

main {
    background-color:white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.464);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 10px;
}
main strong {
    color: var(--color4);
    

}
main p {
    text-align: justify;
    text-indent: 30px;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 10px 0px;
       

}

main a{
    background-color: #39602747;
    border-radius: 2px;
    padding: 2px;    
    text-decoration: none;
}

main img {
    width: 100%;

}

main img.pequeno{
    width: 100%;
    display: block;

}

main h1 {
    font-family: var(--fonte-android);
    color: var(--color4);
    font-size: 2em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--color4);
    background-image: linear-gradient(to right, var(--color2), transparent);
    font-weight: normal;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin:auto;
}

div.video {
    background-color: var(--color1);
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 56.55%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside > h3{
    background-color: var(--color4);
    color: var(--color0);
    padding: 5px;
    font-family: var(--fonte-padrao);
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
    padding: 10px;
}

aside {
    background-color: #B7D9A7;    
    border-radius: 10px;
}
aside > p {
    padding: 10px;
    
}


footer {
    background-color: var(--color4);
    color: var(--color0);
    text-align: center;
    font-weight: lighter;
    font-family: var(--fonte-padrao);
    padding: 5px;

}

