@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #D8FFDB,#d2f5f4);
    margin-top: 50px;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #018785ae;
    width: 600px;   
    padding: 20px;
    margin: auto
}
p {text-align: justify;

}
h1 {
    text-shadow: 1px 1px 2px,#013837b0 ;
    text-align: center;
     color: #015958;
}
h2 {
   color: #023535;
}

